@charset "utf-8";

/** BASIC ELEMENTS **/

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
	font-family: Arial, Helvetica, sans-serif;
	color: #003366;
	padding-top: 10px;
	padding-bottom: 10px;
}

h1 { 
	font-size: 200%;
	padding-top: 0px;
	padding-bottom: 20px;
}

h2 { 
	font-size: 140%;
}

h3 { 
	font-size: 110%;
	font-weight: bold;
}

h4 {
	font-weight: bold;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

a:link, a:visited {
	text-decoration: none;
	color: #003399;
}

a:hover {
	text-decoration: underline;
}

dt, dd {
	margin-bottom: 5px;
	display: block;
}

dt { 
	clear: both;
	float: left;
	font-weight: bold;
	width: 100px;
	text-align: right;
}

dd {
	margin-left: 120px;
}

#doc3 #bd {
	margin-left: 10px;
	margin-right: 10px;
}

/** SIDEBAR **/

#sidebar {
	background-color: #efefef;
	padding: 15px;
	color: #333;
}

#sidebar .box {
	margin-left: 10px;
	margin-bottom: 20px;
}

#sidebar .box li {
	list-style: square;
	margin-left: 18px;
}

#sidebar h2 {
	padding-top: 0px;
	margin-left: -10px;
	font-size: 120%;
	font-weight: 600;
}

#sidebar li {
	padding-bottom: 5px;
}

#facets h3 {
	text-transform: lowercase;
	padding-top: 10px;
}

#sidebar .box li.sidebarFolder {
	list-style: none;
	margin-left: 0px;
}


/** GLOBAL STYLES **/

.ada, #skipnav {
	position: absolute; 
	top: -1000px; 
}

.error {
	color: #CC0000;
}

.nonBreaking {
	white-space: nowrap;
}

.raisedBox {
	padding: 20px;
	background-image: url(../images/bg.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #999999;
	border-left-color: #CCCCCC;
}

/** HEADER **/

#breadcrumb {
	padding: 10px;
	color: #666;
	margin-bottom: 20px;
}

/** SEARCH BOX **/

#searchBox {
	margin-bottom: 40px;
	padding-bottom: 12px;
}

#searchLabel {
	float:left; 
	padding-top: .3em;
}

#searchInputs {
	margin-left: 4.3em;
}

#metasearch_input_toggle {
	margin-top: 10px;
}

#sort {
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #ccc;
	background-color: #efefef;
	margin-bottom: 30px;
}

/** DATABASES **/

#databases_categories li {
	list-style: disc;
	padding-bottom: 5px;
	margin-left: 20px;
}

#databases_categories p {
	padding-top: 10px;
	padding-bottom: 10px;
}

.subjectSubCategory ul {
	margin: 10px;
	border-left: 2px solid #ccc;
	padding-left: 10px;
}

.subjectSubCategory li {
	padding-bottom: 5px;
}

.subjectSubCategory div {
	display: inline;
}

.subjectSubCategory legend {
	color: #003366;
	font-size: 110%;
	font-weight: bold;
	padding: 10px;
}

.databasesDescription {
	margin-top: 30px;
	margin-bottom: 30px;
	line-hright: 130%;
}

/** AUTHENTICATION **/

#authentication .box {
	margin: 30px;
	border: 1px solid #ccc;
	background-color: #efefef;
	width: 300px;
	padding: 40px;
}

#authentication p {
	padding-bottom: 10px;
}

#authentication .submit { 
	margin-left: 100px;
}

#authentication label {
	float: left;
	width: 100px;
	font-weight: bold;
	text-align: right;
	margin-right: 10px;
}

/*** METASEARCH HITS (PROGRESS) **/

#metasearch_hits table {
	margin-top: 20px;
	border: 1px solid #ccc;
}

#metasearch_hits th {
	background-color: #efefef;
	font-weight: bold;
	padding: 5px;
}

#metasearch_hits td {
	padding: 4px;
	border-bottom: 1px solid #eee;
}

/** METASEARCH RESULTS **/

/* records */

.result {
	margin-bottom: 30px;
	line-height: 130%;
}

.resultsTitle a {
	font-weight: bold;
}

.resultsInfo {
	border-left: 2px solid #ddd; 
	margin-left: 3px;
	padding-left: 10px;		
	margin-top: 8px;
	color: #333;
}

.resultsInfo a:link, .resultsInfo a:visited {
	color: green;
}

.resultsType {
	font-weight: bold;
}

.resultsLanguage {
	color: #CC0000;
}

.resultsAbstract {
	margin-top: 10px;
	margin-bottom: 10px;
}

.resultsAuthor, .resultsYear, .resultsPublishing, .resultsAvailableOption {
	display: block;
	margin-bottom: 3px;
}

.resultsAvailability {
	margin-top: 5px;
}

/* pager */

.resultsPager {
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
}
.resultsPagerList {
	display: inline;
	padding: 8px;
	border: 1px solid #A2C9EF;
	background-color: #E4F1FD;
}
.resultsPager li {
	display: inline;
	padding: 3px;
	background-image: none;
}
.resultsPagerNext {
	padding-left: 20px;
}

/** RECORD FULL VIEW **/

#record h2 {
	padding-top: 20px;
	padding-bottom: 20px;
}

#record li {
	list-style: square;
	margin-left: 30px;
}

#recordFullText {
	margin-top: 40px; 
	margin-bottom: 10px;
}

/** MY SAVED RECORDS **/

.folderReturn {
	display: inline;
	margin-left: 30px;
}

#folder_output_results li {
	display: block;
	margin-bottom: 10px;
	clear: left;
	padding: 10px;
	border-bottom: 1px dashed #ccc;
}

#folder_output_results input {
	display: block;
	float: left;
	width: 50px;
}

#folder_output_results label {
	display: block;
	margin-left: 50px;
}

#export legend {
	font-family: Arial, Helvetica, sans-serif;
	color: #003366;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 140%;
}

.exportOptions div {
	display: block;
	margin-bottom: 10px;
	clear: left;
}
	
#export_email_options label {
	display: block;
	float: left;
	width: 150px;
	font-weight: bold;
	text-align: right;
}

#export_email_options input, #export_email_options textarea {
	display: block;
	margin-left: 170px;
}

#export_single {
	margin: 20px;
}

#export_single {
	font-size: 130%;
	padding: 10px;
}

#export_options_endnote div {
	margin: 10px;
}

#export_options_endnote input {
	margin-right: 10px;
	margin-left: 10px;
}

/** AUTO-COMPLETE **/

div.autocomplete {
  margin:0px;  
  padding:0px;  
  width:250px;
  background:#fff;
  border:1px solid #888;
  position:absolute;
}

div.autocomplete ul {
  margin:0px;
  padding:0px;
  list-style-type:none;
}

div.autocomplete ul li.selected { 
  background-color:#B0E0E6;
}

div.autocomplete ul li {
  margin:0;
  padding:2px;
  height:1.2em;
  display:block;
  list-style-type:none;
  cursor:pointer;
  background: none;
}









