################################
# block access to config files #
################################

<FilesMatch "^config\.|^actions\.">
    Order allow,deny
    Deny from all
</FilesMatch>


RewriteEngine on
RewriteBase /demo/

###############
# legacy urls #
###############

RewriteRule ^folder/([a-zA-Z0-9@\.\-_]{1,})/record/([0-9]{1,})$ /demo/?base=folder&action=full&username=$1&record=$2 [R=301,L]
RewriteRule ^folder/([a-zA-Z0-9@\.\-_]{1,})$ folder/home/$1 [R=301,L]

RewriteRule ^r/([0-9]{1,})$ /demo/?base=folder&action=redirect&type=openurl&id=$1 [R=301,L]
RewriteRule ^pf/([0-9]{1,})$ /demo/?base=folder&action=redirect&type=online&id=$1 [R=301,L]
RewriteRule ^ph/([0-9]{1,})$ /demo/?base=folder&action=redirect&type=html&id=$1 [R=301,L]
RewriteRule ^pp/([0-9]{1,})$ /demo/?base=folder&action=redirect&type=pdf&id=$1 [R=301,L]
RewriteRule ^pc/([0-9]{1,})$ /demo/?base=folder&action=redirect&type=construct&id=$1 [R=301,L]

#RewriteRule ^categories/([a-zA-Z\-]{1,})$ databases/subject/$1 [R=301,L]
RewriteRule ^categories/([a-zA-Z\-]{1,})$ index.php?base=databases&action=subject&subject=$1 [QSA]

RewriteRule ^database/([a-zA-Z0-9]{1,})$ databases/database/$1 [R=301,L]


###############
# pretty urls #
###############

# Pass /css, /images, and /javascript through
RewriteRule ^(css|images|javascript)/(.*)$ $1/$2 [L]

# Everything else goes to index.php
RewriteRule ^.*$ index.php






