/* results */

li.result {
	border-bottom: 1px dotted #ccc;
}

.worldcatBookCover {
	width: 80px;
	float: left; 
}

.worldcatResult {
	margin-left: 90px;
}

.worldcatAbstractData {
	margin-bottom: 10px;
}

.resultsType {
	margin-top: 5px;
}

#sort {
	background-color: transparent;
}

.resultsInfo {
	padding-left: 0px;
	border-left: 0px;
}

.worldcatNoHits{
	margin: 50px
}

/* record */

#worldcatRecordBookCover {
	width: 120px;
	float: left; 
}

.recordFullText {
	clear: both;
	margin-top: 20px;
}

#bd dt {
	clear: none;
}

#record .worldcatHoldings li {
	margin-left: 30px;
}

.worldcatAvailableRecord {
	max-height: 400px; 
	overflow-y: scroll; 
	margin-bottom: 20px;
}

.worldcatConsortiumRequest {
	padding: 20px;
}

.google_preview {
	margin: 1em;
}

/** holdings **/

.holdingsTable {
	border-collapse:collapse;
	border-spacing:0;
	border: 1px solid #ccc;
	margin: 15px;
}

.holdingsTable th, .holdingsTable td {
	text-align: left;
	margin: 0px;
	padding: 5px;
	padding-right: 10px;
	border-bottom: 1px solid #eee;
}

.holdingsTable th {
	background-color: #efefef;
}

#worldcatAdvancedMore {
	margin-top: 20px;
}

/** advanced seach form **/
	
#worldcatAdvancedSearch fieldset {
	margin: 10px;
	padding: 20px;
	border: 2px solid #CCCCCC;
	margin-bottom: 20px;
	clear: left;
}

#worldcatAdvancedSearch legend {
	background-color: #FFFFFF;
	margin-top: -10px;
	font-weight: bold;
	padding: 10px;
}

#worldcatAdvancedSearch p { 
	margin-top: 10px;
	margin-bottom: 10px;
}

#worldcatAdvancedSearch .explain {
	font-size: 90%;
	color: #666;
	margin: 10px;
}

#worldcatAdvancedSearch td {
	vertical-align: top;
}
	
#searchTerms li {
	margin-top: 10px;
	margin-bottom: 10px;
	background: none;
}

#searchYear {
	margin-top: 30px;
}

#worldcatAdvancedSearch input {
	padding: 2px;
}

#worldcatAdvancedSearch option { 
	padding: 2px;
	padding-right: 4px;
}

option.basicOption {
	background-color: #FFFFCC;	
}

.limit li {
	margin-top: 5px;
	margin-bottom: 5px;
}

.limit li input {
	margin-right: 10px;
}

.left {
	display: block;
	float: left;
	width: 300px;
}

#lang-hand {
	margin-left: 20px;
}

#basicLimits td {
	padding: 5px;
}

#searchSubmit {
	margin-top: 30px;
	margin-left: 30px;
}

#searchSubmit input {
	padding: 10px;
	cursor: pointer;
	font-weight: bold;
}


/* tabs */

ul#tabnav {
	text-align: left;
	margin: 1em 0 1em 0; 
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	list-style-type: none;
	padding: 10px; /* THIRD number must change with respect to padding-top (X) below */
}

ul#tabnav li { 
	display: inline;
}

ul#tabnav li.here { 
	border-bottom: 1px solid #fff;
	background-color: #fff; 
}

ul#tabnav li.here a {
	background-color: #fff;
	color: #000;
	position: relative;
	top: 1px;
	padding-top: 10px; /* must change with respect to padding (X) above and below */
}

ul#tabnav li a {
	padding: 10px; /* FIRST number must change with respect to padding-top (X) above */
	border: 1px solid #ccc; 
	background-color: #eee; 
	color: #666; 
	margin-right: 0px;
	text-decoration: none;
	border-bottom: none;
}

ul#tabnav a:hover {
	background: #fff;
}

