
/** mobile reset **/

body {
	text-align: left;
}

#bd div, #bd ul, #bd legend, #mobile .box {
	width: 100%;
	float: none;, 
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	margin-top: .5em;
	margin-bottom: .5em;
	text-align: left;
}

.yui-t6 #yui-main, .yui-t6 #yui-main .yui-b,  .yui-t6 .yui-b {
	width: 100%;
	margin: 0;
	padding: 0;
	float: none;
}

h1, h2, h3, h4 {
	font-weight: bold;
	font-size: 110%;
	margin-top: .5em;
	margin-bottom: .5em;
	color: #000;
}

/** layout **/

#bd {
	padding: 1em;
	padding-top: 0;
}

#breadcrumb {
	padding: .5em;
	margin: 0;
}

#sidebar {
	display: none;
}

/** lists **/

ul.databaseSectionList li, #databases_categories li, .result { 
	margin-bottom: .2em;
	border-bottom: 2px solid #ccc;
	background-color: #fff;
	padding: .4em;
	padding-right: 18px;
	margin-left: 0;
	paddin-left: 0;
	list-style-type: none;
	font-size: 130%;
	background-image: url(../images/mobile-arrow.gif);
	background-position: right center;
	background-repeat: no-repeat;
}

#databases_categories li a, .result a {
	display: block;
}

/** database selection **/

#bd legend {
	padding-top: .7em;
	padding-bottom: .7em;
}

#bd ul.databaseSectionList {
	margin-left: 0px;
}

/** login **/

#authentication .box {
	margin: 0;
	width: inherit;
	padding: 0;
}

/** results **/

.resultsInfo, #sortOptions { 
	display: none;
}

/** pager **/

#bd div.resultsPager {
	margin: 1em;
}

.resultsPager li {
	margin: 0;
	padding: 0;
}

.resultsPagerList li strong, .resultsPagerList li a.resultsPagerLink {
	display: none;
}

.resultsPagerNext {
	font-size: 150%;
	padding: .5em;
	border: 1px solid #ccc;
	background-color: #fff
}

/** full record **/

#bd dt, #bd dd {
	margin-bottom: .3em;
	display: block;
}

#bd dt { 
	margin: 0;
	padding: 0;
	float: none;
	font-weight: bold;
	width: 100%;
	text-align: left;
}

#bd dd {
	margin-left: 1em;
}

#record li {
	margin-left: 1em;
}

#bd div.recordActions {
	border: 2px solid #ccc;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: .5em;
	width: 90%;
	background-color: #fff;
}

/** books **/

ul#tabnav, ul#tabnav li, ul#tabnav li.here a, ul#tabnav li a, ul#tabnav a:hover, ul#tabnav span {
	display: none;
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #000;
}

ul#tabnav li {
	display: list-item;
	list-style: disc;
	margin-left: 8px;
	margin-bottom: 2px;
}

.worldcatBookCover, #worldcatRecordBookCover, #worldcatAdvancedMore {
	display: none;
}

.worldcatAvailable, .worldcatAvailableRecord, table.holdingsTable {
	margin: 0;
	padding: 0;
}

table.holdingsTable {
	margin-top: 1em;
	margin-bottom: 1em;
}
