@charset "utf-8";

/** BASIC ELEMENTS **/

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
	font-family: Arial, Helvetica, sans-serif;
	color: #003366;
	margin-bottom: 1em;
}

h1 { 
	font-size: 200%;
}

h2 { 
	font-size: 140%;
}

h3 { 
	font-size: 110%;
	font-weight: bold;
}

h4 {
	font-weight: bold;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

a:link, a:visited {
	text-decoration: none;
	color: #003399;
}

a:hover {
	text-decoration: underline;
}

/** BASIC ELEMENTS ( but not for header, footer )**/

#bd dt, #bd dd {
	margin-bottom: .3em;
	display: block;
}

#bd dt { 
	clear: both;
	float: left;
	font-weight: bold;
	width: 10em;
	text-align: right;
}

#bd dd {
	margin-left: 11em;
}

#bd p {
	margin-bottom: 1em;
}

#bd button, #bd option, #bd input[type="text"], #bd input[type="textarea"], #bd input[type="checkbox"], #bd input[type="radio"], 
#bd input[type="reset"], #bd input[type="submit"] {
	padding: 1px;
}

/** YUI TEMAPLTE ADDITIONS **/


#doc3 #bd {
	margin-left: 1em;
	margin-right: 1em;
}

.xer-t5 {
	margin:auto;
	text-align:left;
	width:57.69em;
	*width:56.25em;
}

.xer-t5 #yui-main {
	float:right;
	margin-left:-25em;
}

.xer-t5 .yui-b{
	float:left;
	width:18.4615em;
	*width:18.00em;
}
.xer-t5 #yui-main .yui-b{
	margin-left:19.4615em;
	*margin-left:19.125em;
}

/** SIDEBAR **/

#sidebar {
	background-color: #efefef;
	padding: 1.3em;
	color: #333;
}

#sidebar .box {
	margin-left: 1em;
	margin-bottom: 2em;
}

#sidebar .box li {
	list-style: square;
	margin-left: 1.5em;
}

#sidebar h2 {
	padding-top: 0;
	margin-left: -1em;
	font-size: 120%;
	font-weight: 600;
}

#sidebar li {
	padding-bottom: .5em;
}

#facets h3 {
	text-transform: lowercase;
	padding-top: 1em;
}

#sidebar .box li {
	margin-left: 22px;
}

#sidebar .box li.sidebarFolder {
	list-style: none;
	margin-left: 0;
}



/** GLOBAL STYLES **/

.ada, #skipnav {
	position: absolute; 
	top: -1000px; 
}

#message_display {
	padding: .8em;
	margin: 2em;
	background-color: #FFDADA;
	display: table;
	max-width: 300px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #999999;
	border-left-color: #CCCCCC;
}

.error {
	color: #CC0000;
}

.nonBreaking {
	white-space: nowrap;
}

.raisedBox {
	padding: 1.8em;
	background-image: url(../images/bg.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #999999;
	border-left-color: #CCCCCC;
}

.miniIcon {
  vertical-align:middle; 
}

/** ACTION COMMANDS with mini-icons **/
/** Usually these classes are applied to an <a> element, but can be 
    applied to others. Add class iconCommand plus class of your choice
    for specific icon. **/

.iconCommand, a.iconCommand, a.iconCommand:visited, a:hover.iconCommand {
  /* padding makes space for the icon that will be a background, yes pixels
     not ems, since our images we need to make room for are in pixels. */
  padding: 0px 0px 0px 24px;  
  /* position: relative gets around a weird IE6/7 bug with what we're trying
     to do */
  position: relative;   
  text-decoration: none;
  white-space: nowrap;  
  background-repeat: no-repeat;
  /* For some reason only IE6 gets these *- selectors, and we turn
     bg images off in ie6, becuase ie6 is doing weird things with them. */
  *-background-image: none;  
}

.iconCommand.rename {
  background-image: url(../images/famfamfam/tag_blue_edit.png);
}

.iconCommand.delete {
  background-image: url(../images/delete.gif);
}

.iconCommand.add {
  background-image: url(../images/famfamfam/add.png);
}

.iconCommand.reorder {
  background-image: url(../images/reorder.gif);
}

.iconCommand.edit {
  background-image: url(../images/famfamfam/wrench.png);
}

.iconCommand.public {
  background-image: url(../images/famfamfam/lock.png);
  /* For some reason IE6 fix is needed here too, when classes are
     not applied to an <a>, as they are not for .public */
  *-background-image: none;  
}

/** BREADCRUMBS **/

#breadcrumb {
	padding: .7em;
	color: #666;
	margin-bottom: 1.5em;
}

/** SEARCH BOX **/

#searchBox {
	display: table;
	margin-bottom: 3em;
	padding-bottom: 1em;
	padding-right: 2.2em;
}

#spellSuggest {
	margin: 1em;
}

#databasesSearch {
	margin-bottom: 3em;
}

#searchLabel {
	float:left; 
	padding-top: .3em;
}

#searchInputs {
	margin-left: 4.3em;
}

#metasearch_input_toggle {
	margin-top: 1em;
}

#searchBox_advanced_newline {
	margin-top: .2em;
}

/** DATABASES **/

#databases_categories li {
	list-style: disc;
	padding-bottom: .3em;
	margin-left: 2em;
}

#databases_categories h1, #databases_categories h2 {
	margin-bottom: .5em;
}

ul.databaseSectionList {
	margin: .7em .7em .7em 1.25em;
	border-left: 2px solid #ccc;
	padding-left: 1em;
}

ul.databaseSectionList li {
	padding-bottom: .3em;
}

.subjectSubCategory legend {
	color: #003366;
	font-size: 110%;
	font-weight: bold;
	padding: 1em;
}

.databasesDescription {
	margin-top: 2em;
	margin-bottom: 3em;
	line-hright: 130%;
}

#alphaLetters {
	border: 1px solid #ccc;
	border-left: none;
	border-right: none;
	margin-top: 3em;
	margin-bottom: 3em;
	padding: 1em;
}

.alphaHeading {
	padding: .5em;
	padding-left: 1em;
	padding-right: 1em;
	border-top: 1px solid #ccc;
	background-color: #efefef;
	margin-bottom: 2em;
}

.alphaHeading h2 {
	margin: 0;
}

.alphaBack {
	text-align: right;
}

#snippetControl {
	background-color: #efefef;
	padding: 1em;
	padding-left: 3em;
}

#snippetControl h2 {
	margin-left: -1em;
}

#snippetDisplayTable td {
	vertical-align: top;
	padding-bottom: .8em;
	padding-right: .4em;
}

#snippetSubcategories {
	margin: 1em;
	margin-right: 0;
}

#snippetInclude textarea {
	font-size: 80%;
	height: 8em;
	width: 90%;
	margin-bottom: 1em;
}

#example {
	border: 2px solid #ccc;
	padding: 2em;	
} 

#example_legend {
	font-size: 140%;
}

p.optionInfo {
	color: #444;
	font-size: 90%;
	padding: .4em;
	padding-left: 1em;
}


/** MY SAVED DATABSES **/


.editCommands {
	display: block;
	margin-left: 5em;
	margin-right: 5em;
	padding: 1em;
	border: 2px solid #ccc;
	margin-bottom: 2em;
}

li.editCommand {
	list-style: square;
	padding: .3em;
	color: #000;
  list-style-type: none;
}

.editSubject {
	margin-top: -.75em;
	margin-bottom: 1.25em;
}


table.reorderTable td {
	padding: 1em;
}

#collectionsPublicURL {
	border: 1px solid #FFCC00;
	background-color: #FFFFCC;
	padding: .5em;
}

#addDatabases {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

ul.addDatabasesMatches {
  border: 1px dotted #CCCCCC;
  max-height:9em;
  overflow-y:auto;
}
ul.addDatabasesMatches li {
  padding: 0.2em;
}


/** AUTHENTICATION **/

#authentication .box {
	margin: 3em;
	border: 1px solid #ccc;
	background-color: #efefef;
	width: 25em;
	padding: 2em;
}

#authentication p {
	padding-bottom: 1em;
}

#authentication .submit { 
	margin-left: 8em;
}

#authentication label {
	float: left;
	width: 7em;
	font-weight: bold;
	text-align: right;
	margin-right: 1em;
}

/*** METASEARCH HITS (PROGRESS) **/

#metasearch_hits table {
	margin-top: 2em;
	border: 1px solid #ccc;
}

#metasearch_hits th {
	background-color: #efefef;
	font-weight: bold;
	padding: .5em;
}

#metasearch_hits td {
	padding: .4em;
	border-bottom: 1px solid #eee;
}

.hitCount {
	text-align: right;
}

/** RESULTS **/

#sort {
	padding: 1em;
	border-top: 1px solid #ccc;
	background-color: #efefef;
	margin-bottom: 2.6em;
}


#sortOptions {
	text-align: right;
}	

.result {
	margin-bottom: 3em;
	line-height: 130%;
}

.resultsTitle a {
	font-weight: bold;
}

.resultsInfo {
	border-left: 2px solid #ddd; 
	margin-left: .3em;
	padding-left: 1em;		
	margin-top: .7em;
	color: #333;
}

.resultsInfo a:link, .resultsInfo a:visited, #recordFullText a:link, #recordFullText a:visited {
	color: green;
}

.resultsType {
	font-weight: bold;
}

.resultsLanguage {
	color: #CC0000;
}

.resultsAbstract {
	margin-top: .7em;
	margin-bottom: .7em;
}

.resultsAuthor, .resultsYear, .resultsPublishing {
	display: block;
	margin-bottom: 0.35em;
}

/* eliminated/deprecated classes: resultsAvailability resultsFullText saveThisRecord .resultsFullTextOption, .resultsAvailableOption, .recordFullTextOption recordOptions  */
.recordActions {
	margin-top: .7em;
}
 .recordAction {
  display: block;
	margin-bottom: 0.35em;
}

.folderLabels {
	margin: .4em;
}

/* pager */

.resultsPager {
	margin-top: 7em;
	margin-bottom: 7em;
	text-align: center;
}
.resultsPagerList {
	display: inline;
	padding: .8em;
	border: 1px solid #A2C9EF;
	background-color: #E4F1FD;
}
.resultsPager li {
	display: inline;
	padding: .3em;
	background-image: none;
}
.resultsPagerNext {
	padding-left: 2em;
}

/** RECORD FULL VIEW **/

#record h2 {
	margin-top: 1em;
}

#record li {
	list-style: square;
	margin-left: 3em;
}

#recordFullText {
	margin-top: 2em; 
	margin-bottom: 2em;
}

#recordFullText li {
	margin-left: 0;
}

#citationNote {
	border: 1px solid #ccc;
	padding: .4em;
	font-size: 80%;
	color: #666;
}

/** MY SAVED RECORDS **/

.folderReturn {
	display: inline;
	margin-left: 3em;
}

#folder_output_results li {
	display: block;
	margin-bottom: 1em;
	clear: left;
	padding: 1em;
	border-bottom: 1px dashed #ccc;
}

#folder_output_results input {
	display: block;
	float: left;
	width: 5em;
}

#folder_output_results label {
	display: block;
	margin-left: 5em;
}

#export legend {
	font-family: Arial, Helvetica, sans-serif;
	color: #003366;
	padding-top: 2em;
	padding-bottom: 2em;
	font-size: 140%;
}

.exportOptions div {
	display: block;
	margin-bottom: 1em;
	clear: left;
}
	
#export_email_options label {
	display: block;
	float: left;
	width: 15em;
	font-weight: bold;
	text-align: right;
}

#export_email_options input, #export_email_options textarea {
	display: block;
	margin-left: 17em;
}

#export_single {
	margin: 2em;
}

#export_single {
	font-size: 130%;
	padding: 1em;
}

#export_options_endnote div {
	margin: 1em;
}

#export_options_endnote input {
	margin-right: 1em;
	margin-left: 1em;
}

/** AUTO-COMPLETE **/

div.autocomplete {
	margin: 0;
	padding: 0;
	width: 25em;
	background: #fff;
	border: 1px solid #888;
	position: absolute;
}

div.autocomplete ul {
  list-style-type: none;
}

div.autocomplete ul li.selected {
	margin: 0;
	padding: 0;
	background-color: #B0E0E6;
}

div.autocomplete ul {
	margin: 0;
	padding: 0;
}

#tag_suggestions li {
	margin: 0px;
}

div.autocomplete ul li {
	padding: .2em;
	height: 1.2em;
	display: block;
	list-style-type: none;
	cursor: pointer;
	background: none;
}



