# @author David Walker
# @copyright 2009 California State University
# @link http://xerxes.calstate.edu
# @license http://www.gnu.org/licenses/
# @version $Id$
# @package Xerxes

# block access to config files

<FilesMatch "\.xml">

	Order allow,deny
	Deny from all

</FilesMatch>

# pretty urls

<IfModule rewrite_module>
	
	RewriteEngine on
	RewriteBase /demo/
	RewriteRule !\.(js|ico|txt|gif|jpg|png|css)$ index.php
	
</IfModule>